html body .errorpage.app{
    height:94vh !important;
    min-height:94vh !important;
}
.app{
    height:100vh !important;
    min-height:100vh !important;
    display:flex;
    flex-direction:column;
}
/*
body{
    height:95vh !important;
    min-height:95vh !important;
} */